name: $(PackageVersion).$(VersionBuildNumber)

schedules:
- cron: "0 1 * * *"
  displayName: Nightly
  branches:
    include:
    - master
  always: true

trigger:
  batch: true
  branches:
    include:
    - master
pr:
  branches:
    include:
    - '*'
  paths:
    exclude:
    - 'docs/*'
    - '.github/*'

variables:
  PackageVersion: '3.9.2'
  VersionBuildNumber: $[counter('3.9.2', 1)]
  IntegrationTestVersion: $(PackageVersion)-alpha.$(VersionBuildNumber)
  ProjectsToPack: src/Stryker.CLI/Stryker.CLI/Stryker.CLI.csproj
  MygetFeed: https://www.myget.org/F/stryker-mutator-integrationtest
  AzureArtifactFeedUri: https://pkgs.dev.azure.com/stryker-mutator/Stryker/_packaging/stryker-net/nuget/v3/index.json
  MygetFeedUri: https://www.myget.org/F/stryker-mutator-integrationtest/api/v3/index.json
  NUGET_PACKAGES: $(Pipeline.Workspace)/.nuget/packages
  LibManCacheWindows: $(USERPROFILE)/.librarymanager/cache
  LibManCacheMacLinux: $(HOME)/.librarymanager/cache
  RestoreLockedMode: true

pool:
  vmImage: 'windows-latest'

stages:
- template: pipeline-templates/update-package-lock-files-stage.yml

- stage: Analysis
  dependsOn: UpdatePackageLockFiles
  condition: and(not(failed()), eq(variables['System.PullRequest.IsFork'], 'False'))
  jobs:
  - job:
    displayName: Run Sonar Analysis
    dependsOn: []
    steps:
    - task: UseDotNet@2.207.2
      displayName: 'Use dotnet 6'
      inputs:
        version: 6.x
    - template: pipeline-templates/populate-cache-steps.yml
    - task: SonarCloudPrepare@1
      inputs:
        SonarCloud: 'SonarCloud stryker-net'
        organization: 'stryker-net'
        scannerMode: 'MSBuild'
        projectKey: 'stryker-net'
        projectName: 'Stryker .NET'
        projectVersion: '$(PackageVersion)'
    - task: DotNetCoreCLI@2.210.0
      displayName: 'Run unit tests'
      inputs:
        command: test
        projects: 'src/Stryker.Core/Stryker.Core.UnitTest/Stryker.Core.UnitTest.csproj'
        arguments: '--collect "Code coverage"'
    - task: SonarCloudAnalyze@1
    - task: SonarCloudPublish@1
      inputs:
        pollingTimeoutSec: '300'
  - job: RunStrykerCLI
    displayName: Run stryker on Stryker.CLI
    condition: eq(variables['Build.Reason'], 'Schedule')
    dependsOn: []
    timeoutInMinutes: 240
    steps:
    - task: UseDotNet@2
      displayName: 'Use dotnet 6'
      inputs:
        version: 6.x
    - task: DotNetCoreCLI@2
      displayName: 'Install dotnet-stryker'
      inputs:
        command: custom
        custom: tool
        arguments: install dotnet-stryker --tool-path $(Agent.BuildDirectory)/tools
        includeNuGetOrg: true
    - script: $(Agent.BuildDirectory)/tools/dotnet-stryker --reporter dashboard --reporter dots --reporter html --version master --dashboard-api-key $(Stryker.Dashboard.Api.Key)
      condition: succeeded()
      displayName: Run Stryker on Stryker.CLI
      workingDirectory: 'src\Stryker.CLI\Stryker.CLI.UnitTest'
  - job: RunStrykerCore
    displayName: Run stryker on Stryker.Core
    condition: eq(variables['Build.Reason'], 'Schedule')
    dependsOn: []
    timeoutInMinutes: 240
    steps:
    - task: UseDotNet@2
      displayName: 'Use dotnet 6'
      inputs:
        version: 6.x
    - task: DotNetCoreCLI@2
      displayName: 'Install dotnet-stryker'
      inputs:
        command: custom
        custom: tool
        arguments: install dotnet-stryker --tool-path $(Agent.BuildDirectory)/tools
        includeNuGetOrg: true
    - script: $(Agent.BuildDirectory)/tools/dotnet-stryker --reporter dashboard --reporter dots --reporter html --version master --dashboard-api-key $(Stryker.Dashboard.Api.Key)
      condition: succeeded()
      displayName: Run Stryker on Stryker.Core
      workingDirectory: 'src\Stryker.Core\Stryker.Core.UnitTest'
    - task: PublishMutationReport@1
      inputs:
        reportPattern: 'src/Stryker.Core/Stryker.Core.UnitTest/**/mutation-report.html'

- stage: DeployIntegrationtestPackage
  displayName: Deploy Integrationtest Package
  dependsOn: UpdatePackageLockFiles
  condition: not(failed())
  jobs:
  - deployment: PublishIntegrationTestPackage
    displayName: Prepare integrationtest package
    environment: 'myget'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - template: pipeline-templates/populate-cache-steps.yml
          - task: UseDotNet@2
            displayName: 'Use dotnet 6'
            inputs:
              version: 6.x
          - task: DotNetCoreCLI@2
            displayName: 'Restore vstest binaries'
            inputs:
              command: 'custom'
              custom: 'restore'
              arguments: '--packages ./.vstest/'
              workingDirectory: 'src/Stryker.Core/Stryker.Core/ToolHelpers/'
          - task: DotNetCoreCLI@2
            displayName: 'Pack integrationtest packages'
            inputs:
              command: pack
              versioningScheme: byEnvVar
              versionEnvVar: IntegrationTestVersion
              packagesToPack: $(ProjectsToPack)
              packDirectory: $(Build.ArtifactStagingDirectory)/integrationtest
              includesymbols: true
          - task: DotNetCoreCLI@2
            displayName: 'Publish integrationtest packages'
            condition: eq(variables['System.PullRequest.IsFork'], 'True')
            inputs:
              command: custom
              custom: 'nuget'
              arguments: 'push *dotnet-stryker*$(IntegrationTestVersion).nupkg -s $(MygetFeed) -k $(IntegrationTestFeedKey)'
              workingDirectory: '$(Build.ArtifactStagingDirectory)/integrationtest'
          - task: DotNetCoreCLI@2
            displayName: 'Publish integrationtest packages'
            condition: eq(variables['System.PullRequest.IsFork'], 'False')
            inputs:
              command: 'push'
              packagesToPush: '$(Build.ArtifactStagingDirectory)/integrationtest/*$(IntegrationTestVersion).nupkg'
              nuGetFeedType: 'internal'
              publishVstsFeed: '506a1f46-900e-434e-805f-ff8d36fc81af/cc8fa47b-395f-417d-8b3d-72618b95ddb8'
  - job: WaitOnMyGetProcessing
    displayName: Wait on pre-release packages to be processed on MyGet
    dependsOn: 'PublishIntegrationTestPackage'
    pool: server
    steps:
    - task: Delay@1
      inputs:
        delayForMinutes: '1'

- stage: IntegrationTests
  dependsOn:
    - Analysis
    - DeployIntegrationtestPackage
  condition: not(failed())
  jobs:
  - job: WindowsTests
    displayName: Run tests on Windows
    steps:
    - task: NuGetToolInstaller@1
      displayName: 'Install nuget for stryker full framework'
    - template: pipeline-templates/prepare-integration-test-steps.yml
    - template: pipeline-templates/run-integration-test-steps.yml
      parameters:
        testName: 'windows-netcore'
        workingDirectory: 'integrationtest/TargetProjects/NetCoreTestProject.XUnit'
    - template: pipeline-templates/run-integration-test-steps.yml
      parameters:
        testName: 'windows-netframework'
        workingDirectory: 'integrationtest/TargetProjects/NetFramework/FullFrameworkApp.Test'

    - task: DotNetCoreCLI@2
      displayName: 'Assert integration test results'
      inputs:
        command: test
        projects: '**/Validation.csproj'
        arguments: --filter Category=SingleTestProject

  - job: LinuxTests
    displayName: Run tests on Linux
    pool:
      vmImage: ubuntu-latest
    steps:
    - template: pipeline-templates/prepare-integration-test-steps.yml
    - template: pipeline-templates/run-integration-test-steps.yml
      parameters:
        testName: 'linux-netcore'
        workingDirectory: 'integrationtest/TargetProjects'
        strykerCommands: --solution '$(Agent.BuildDirectory)/s/integrationtest/TargetProjects/IntegrationTestApp.sln'
    - task: DotNetCoreCLI@2
      displayName: 'Assert integration test results'
      inputs:
        command: test
        projects: '**/Validation.csproj'
        arguments: --filter Category=Solution
    - script: $(Agent.BuildDirectory)/tools/dotnet-stryker
      workingDirectory: 'integrationtest/TargetProjects/EmptyTestProject'
      failOnStderr: false
      continueOnError: true

  - job: MacOsTests
    displayName: Run tests on Mac OS
    pool:
      vmImage: macOS-latest
    steps:
    - template: pipeline-templates/prepare-integration-test-steps.yml
    - template: pipeline-templates/run-integration-test-steps.yml
      parameters:
        testName: 'macos-netcore'
        workingDirectory: 'integrationtest/TargetProjects/NetCoreTestProject.XUnit'
    - task: DotNetCoreCLI@2
      displayName: 'Assert integration test results'
      inputs:
        command: test
        projects: '**/Validation.csproj'
        arguments: --filter Category=SingleTestProject
    - template: pipeline-templates/run-integration-test-steps.yml
      parameters:
        testName: 'macos-netcore-multi-test-project'
        workingDirectory: 'integrationtest/TargetProjects/TargetProject'
    - task: DotNetCoreCLI@2
      displayName: 'Assert integration test results'
      inputs:
        command: test
        projects: '**/Validation.csproj'
        arguments: --filter Category=MultipleTestProjects

- stage: PublishMasterReleaseArtifact
  displayName: Publish Release Artifact
  dependsOn:
    - Analysis
    - IntegrationTests
  condition: and(not(failed()), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - job: PublishRelease
    displayName: Publish Release Artifacts
    steps:
    - template: pipeline-templates/populate-cache-steps.yml
    - task: UseDotNet@2
      displayName: 'Use dotnet 6'
      inputs:
        version: 6.x
    - task: DotNetCoreCLI@2
      displayName: 'Restore vstest binaries'
      inputs:
        command: 'custom'
        custom: 'restore'
        arguments: '--packages ./.vstest/'
        workingDirectory: 'src/Stryker.Core/Stryker.Core/ToolHelpers/'
    - task: DotNetCoreCLI@2
      displayName: 'Pack Stryker.CLI'
      inputs:
        command: custom
        custom: pack
        arguments: --output $(Build.ArtifactStagingDirectory)/release
        workingDirectory: 'src/Stryker.CLI/Stryker.CLI'
    - task: DotNetCoreCLI@2
      displayName: 'Pack Stryker.Core'
      inputs:
        command: custom
        custom: pack
        arguments: --output $(Build.ArtifactStagingDirectory)/release
        workingDirectory: 'src/Stryker.Core/Stryker.Core'
    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: release'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/release'
        ArtifactName: release
