resources:
- repo: self
  clean: true
  
variables:
  PackageVersion: '0.4.0'
  
phases:
- phase: Phase_1
  displayName: Windows
  condition: succeeded()
  
  queue:
    name: Hosted VS2017
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'dotnet test'
    inputs:
      command: test
      projects: '**/*Test.csproj'
  - task: DotNetCoreCLI@2
    displayName: 'dotnet pack'
    inputs:
      command: pack
      nobuild: true
      versioningScheme: byEnvVar
      versionEnvVar: PackageVersion
  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'
    condition: and(succeeded(), eq(variables['system.pullrequest.isfork'], false))

- phase: Phase_2
  displayName: Linux
  condition: succeeded()
  
  queue:
    name: Hosted Ubuntu 1604
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'dotnet test'
    inputs:
      command: test
      projects: '**/*Test.csproj'
