name: $(Build.DefinitionName)-$(PackageVersion)$(rev:.r)
resources:
- repo: self
  clean: true
  
variables:
  PackageVersion: '0.5.0'
  
phases:
- phase: Phase_1
  displayName: Windows
  condition: succeeded()
  
  queue:
    name: Hosted VS2017
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: test
      projects: '**/*Test.csproj'
  - task: DotNetCoreCLI@2
    displayName: 'Pack pre-release packages'
    inputs:
      command: pack
      nobuild: true
      versioningScheme: byEnvVar
      versionEnvVar: PackageVersion
      buildProperties: 'VersionSuffix=pre-release.$(Build.BuildId)'
      packDirectory: '$(Build.ArtifactStagingDirectory)/pre-release'

  - task: DotNetCoreCLI@2
    displayName: 'Push pre-release packages'
    inputs:
      command: push
      packagesToPush: '$(Build.ArtifactStagingDirectory)/pre-release/StrykerMutator.*-pre-release.$(Build.BuildId).nupkg'
      publishVstsFeed: '0f92dbf7-f2b5-4439-8a95-33631c57ffa5'

  - task: DotNetCoreCLI@2
    displayName: 'Pack release package'
    inputs:
      command: pack
      nobuild: true
      versioningScheme: byEnvVar
      versionEnvVar: PackageVersion
      packDirectory: '$(Build.ArtifactStagingDirectory)/release'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)/release'
    condition: and(succeeded(), eq(variables['system.pullrequest.isfork'], false))

- phase: Phase_2
  displayName: Linux
  condition: succeeded()
  
  queue:
    name: Hosted Ubuntu 1604
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: test
      projects: '**/*Test.csproj'

- phase: Phase_3
  displayName: Mac
  condition: succeeded()
  
  queue:
    name: Hosted macOS
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: test
      projects: '**/*Test.csproj'

