name: $(PackageVersion)$(rev:.r)

trigger:
  batch: true
  branches:
    include:
    - master

resources:
- repo: self
  clean: true
  
variables:
  PackageVersion: '0.5.0'
  PreReleaseVersion: $(Build.BuildNumber)-beta
  ProjectsToPack: src/Stryker.Core/Stryker.Core/Stryker.Core.csproj;src/Stryker.CLI/Stryker.CLI/Stryker.CLI.csproj
  IntegrationTestPath: integrationtests/IntegrationTests/ExampleProject.XUnit
  IntegrationTestProject: $(IntegrationTestPath)/ExampleProject.XUnit.csproj
  PreReleaseFeed: '0f92dbf7-f2b5-4439-8a95-33631c57ffa5'
  PreReleaseFeedUri: https://pkgs.dev.azure.com/stryker-mutator/_packaging/stryker-net-pre-release@Prerelease/nuget/v3/index.json

jobs:
- job: PublishPreRelease
  displayName: Prepare Pre-Release package

  pool:
    name: Hosted VS2017
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: test
      projects: 'src/**/*.UnitTest.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'Pack pre-release packages'
    inputs:
      command: pack
      nobuild: true
      versioningScheme: byEnvVar
      versionEnvVar: PreReleaseVersion
      packagesToPack: $(ProjectsToPack)
      packDirectory: $(Build.ArtifactStagingDirectory)/pre-release

  - task: DotNetCoreCLI@2
    displayName: 'Push pre-release packages'
    inputs:
      command: push
      packagesToPush: $(Build.ArtifactStagingDirectory)/pre-release/StrykerMutator.*$(PreReleaseVersion).nupkg
      publishVstsFeed: $(PreReleaseFeed)

- job: WindowsTests
  displayName: Run tests on Windows
  dependsOn: PublishPreRelease
  condition: succeeded()

  pool:
    name: Hosted VS2017
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: test
      projects: 'src/**/*.UnitTest.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'Install pre-release package in integration test project'
    inputs:
      command: custom
      custom: add
      arguments: $(IntegrationTestProject) package StrykerMutator.DotNetCoreCli -n -v $(PreReleaseVersion) -s $(PreReleaseFeedUri)

  - script: 'node prepare-integrationtest.js $(PreReleaseVersion)'
    displayName: 'Update stryker integration test with pre-release'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet restore'
    inputs:
      command: restore
      projects: $(IntegrationTestProject)
      vstsFeed: $(PreReleaseFeed)
  
  - task: DotNetCoreCLI@2
    displayName: 'Run integration test'
    inputs:
      command: custom
      custom: stryker
      workingDirectory: $(IntegrationTestPath)

- job: LinuxTests
  displayName: Run tests on Linux
  dependsOn: PublishPreRelease
  condition: succeeded()
  
  pool:
    name: Hosted Ubuntu 1604
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: test
      projects: 'src/**/*.UnitTest.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'Install pre-release package in integration test project'
    inputs:
      command: custom
      custom: add
      arguments: $(IntegrationTestProject) package StrykerMutator.DotNetCoreCli -n -v $(PreReleaseVersion) -s $(PreReleaseFeedUri)

  - script: 'node prepare-integrationtest.js $(PreReleaseVersion)'
    displayName: 'Update stryker integration test with pre-release'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet restore'
    inputs:
      command: restore
      projects: $(IntegrationTestProject)
      vstsFeed: $(PreReleaseFeed)
  
  - task: DotNetCoreCLI@2
    displayName: 'Run integration test'
    inputs:
      command: custom
      custom: stryker
      workingDirectory: $(IntegrationTestPath)

- job: MacOsTests
  displayName: Run tests on Mac OS
  dependsOn: PublishPreRelease
  condition: succeeded()
  
  pool:
    name: Hosted macOS
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Run unit tests'
    inputs:
      command: test
      projects: 'src/**/*.UnitTest.csproj'

  - task: DotNetCoreCLI@2
    displayName: 'Install pre-release package in integration test project'
    inputs:
      command: custom
      custom: add
      arguments: $(IntegrationTestProject) package StrykerMutator.DotNetCoreCli -n -v $(PreReleaseVersion) -s $(PreReleaseFeedUri)

  - script: 'node prepare-integrationtest.js $(PreReleaseVersion)'
    displayName: 'Update stryker integration test with pre-release'

  - task: DotNetCoreCLI@2
    displayName: 'dotnet restore'
    inputs:
      command: restore
      projects: $(IntegrationTestProject)
      vstsFeed: $(PreReleaseFeed)
  
  - task: DotNetCoreCLI@2
    displayName: 'Run integration test'
    inputs:
      command: custom
      custom: stryker
      workingDirectory: $(IntegrationTestPath)

- job: PublishRelease
  displayName: Publish Release Artifacts
  dependsOn: 
  - WindowsTests
  - LinuxTests
  - MacOsTests
  condition: and(succeeded(), eq(variables['system.pullrequest.isfork'], false))

  pool:
    name: Hosted VS2017
  
  steps:
  - task: DotNetCoreCLI@2
    displayName: 'Pack release package'
    inputs:
      command: pack
      nobuild: false
      packagesToPack: $(ProjectsToPack)
      packDirectory: $(Build.ArtifactStagingDirectory)/release

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'
    inputs:
      PathtoPublish: $(Build.ArtifactStagingDirectory)/release
