<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.9.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="3.2.1" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.2.1" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="6.9.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>