name: integration test
run-name: e2e ${{ github.head_ref }}

on: [pull_request]

jobs:
  integration-test:
    strategy:
      matrix:
        agent: [ubuntu-latest, windows-latest, macos-latest]
        category: [InitCommand, SingleTestProject, MultipleTestProjects, Solution]
    runs-on: ${{ matrix.agent }}
    env:
      CATEGORY: ${{ matrix.category }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x
            10.x
      - name: Run integration tests
        shell: pwsh
        run: .\integration-tests.ps1
